RewriteEngine On

RewriteRule ^home.web?$ index.php
RewriteRule ^about_us.web?$ about.php
RewriteRule ^rooms.web?$ rooms.php

RewriteRule ^rooms_details.web/([0-9a-zA-Z-=()-]+)/([0-9a-zA-Z-=]+) rooms-details.php?name=$1&id=$2
RewriteRule ^services.web?$ services.php
RewriteRule ^things_to_do.web?$ things-to-do.php
RewriteRule ^gallery.web?$ gallery.php
RewriteRule ^contact.web?$ contact.php



Options +MultiViews




ErrorDocument 404 /index.php
